* {
	line-height: 1.2;
	margin: 0;
}

html {
    color: #888;
    display: table;
    font-family: sans-serif;
    text-align: center;
	overflow: hidden;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}

h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
	text-align: center;
}

p {	 
	margin: 0 auto;
    width: 280px;
	text-align: left;
}

a img {
	border: none;
}